* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    /* background-color: rgb(190, 149, 74); */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Modal section */

/* .overlay {
    background-color: rgb(rgba(15, 14, 14, 0.755));
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.modal {
    background-color: white;
} */

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: black 1px solid;
}

section {
    padding: 2rem;
    outline: pink solid 1px;
}

.results {
    padding: 1rem
}

table {
    border-collapse: collapse;
}

tr,
td {  
    border: black 1px solid;
    padding: 0.5rem;
}

.results li {
    display: flex;
    justify-content: space-around;
    outline: 1px solid black;
}

.circle {
    padding: 5rem;
    border: 1px solid black;
    border-radius: 50%;
    pointer-events: none;
}

.circle + .circle {
    margin-left: 2rem;
}

.button-container {
    display: flex;
    padding: 5rem;
}

.circle:nth-child(1) {
    background-color: rgb(211, 4, 18);
}

.circle:nth-child(2){
    background-color: rgb(240, 203, 27);
}

.circle:nth-child(3){
    background-color: rgb(199, 62, 5);
}

.circle:nth-child(4){
    background-color: rgb(38, 154, 67);
}

.circle.active {
   filter: saturate(5);
}