:root {
    --red-button: rgb(156, 9, 15);
    --yellow-button: rgb(241 208 28);
    --orange-button: rgb(204, 73, 6);
    --green-button: rgb(40, 161, 76);
    --backround-color: rgb(190, 143, 63);
    --main-backround-color: rgb(134 25 21);
}

@font-face {
    font-family: "ARCADE";
    src: url(arcade/ARCADE.TTF);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title-container {
    background-color: var(--yellow-button);
    text-transform: uppercase;
    padding: 2rem;
    text-align: center;
    border: black solid 5px;
    border-radius: 50px;
    margin: 1rem;
}

h1 {
    font-size: 5rem;
    font-family: 'ARCADE';
    font-weight: 400;
    letter-spacing: 10px;
}

span {
    font-size: 1.5rem;
}

.main-container {
    background-color: var(--main-backround-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

main {
    background-color: var(--backround-color);
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 15px black solid;
    border-radius: 50px;
}

/* Modal section */

.overlay {
    background-color: rgba(15, 14, 14, 0.844);
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
}

.modal {
    width: 40%;
    height: 40%;
    padding: 4rem;
    border-radius: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-button);
    position: relative;
}

.modal h2 {
    text-transform: uppercase;
    padding: 1rem;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

/* Main text section */

.text-container {
    display: flex;
    justify-content: center;
}

section {
    background-color: var(--yellow-button);
    padding: 1rem;
    margin: 0 3rem;
}

section.manual {
    border: solid black 5px;
    border-radius: 20px;
    padding: 2rem
}

section h2 {
    padding: 0.5rem;
}

section.results-container {
    border: solid black 5px;
    border-radius: 20px;
}

.results {
    padding: 1rem;
}

table {
    border-collapse: collapse;
}

tr,
td {  
    text-transform: uppercase;
    padding: 0.25rem;
}

.results li {
    display: flex;
    justify-content: space-around;
    outline: 1px solid black;
}

/* Button section */

#end-button {
    display: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

button {
    padding: 1rem;
    text-transform: uppercase;
    background-color: var(--yellow-button);
    border: black solid 1px;
    border-radius: 10px;
    box-shadow:  0 0 5px;
}



/* Circle section */

.circle-container {
    display: flex;
    padding: 1rem 3rem;
}

.circle {
    padding: 5rem;
    border: 5px solid black;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 
        inset 0 0 5px #333,
        0 0 5px #333;
}
    
.circle.active {
    filter: saturate(3) brightness(5);
 }

.circle + .circle {
    margin-left: 2rem;
}

.circle:nth-child(1) {
    background-color: var(--red-button)
}

.circle:nth-child(2) {
    background-color: var(--yellow-button)
}

.circle:nth-child(3) {
    background-color: var(--orange-button)
}

.circle:nth-child(4) {
    background-color: var(--green-button)
}